{% extends 'base.html' %}

{% block content %}

<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
    }
    .clear {
        clear: both;
    }
    .autogrow {
        position: relative;
    }

    .quote_form textarea {
        height: 70px;
    }

    .quote_form .add_comment {
        color: #999;
    }
    .quote_form .add_comment:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    .quote_form .add_comment:active {
        position: relative;
        top: 1px;
    }
    .comment-row {
        display: none;
    }
</style>
<style>
    .item {
        position: relative;
        margin-bottom: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #your-quotes {
        margin-left: 0;
        margin-right: 0;
    }
    .quote-container {
    }
    .author-container {
    }
    .edit-button, .delete-button {
        position: absolute;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition:    all 0.2s;
        transition:         all 0.2s;
        opacity: 0;
    }
    .edit-button {
        color: #3498db;
        font-size: 22px;
        top: 18px;
        right: -10px;
    }
    .edit-button:hover {
        color: #54b8fb;
    }
    .item:hover .edit-button {
        opacity: 1;
    }
    .delete-button {
        color: #c95a60;
        font-size: 25px;
        top:   -10px;
        right: -10px;
    }
    .delete-button:hover {
        color: #d96a70;
    }
    .item:hover .delete-button {
        opacity: 1;
    }

    .left-quote, .right-quote {
        position: absolute;
        font-size: 2em;
        font-weight: normal;
    }
    .left-quote {
        top: 0;
        left: 0;
    }
    .right-quote {
        right: 0;
        bottom: 0;
    }

    /* stretching the buttons to 100% width - manipulate width with col class */
    #quotem { width: 100%; }
    .edit-save-button, .edit-cancel-button { width: 100%; }
</style>

<h1>Your Quotes</h1>

<div style="height:10px;"></div>

<div class="quote_template" style="display:none;">
    {{ quote_form.quote_id }}
    {{ quote_form.quote }}
    {{ quote_form.author }}
    {{ quote_form.comment }}
    <input type="submit" class="edit-save-button btn btn-success" value="Save"/>
    <input type="button" class="edit-cancel-button btn btn-warning" value="Cancel"/>
</div>

<div class="quote_form">
    <form method="post" action="{% url add_quote %}">{% csrf_token %}
        {{ quote_form.quote_id }}
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group autogrow">
                    {{ quote_form.quote }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 add_comment" active="0">
                <span class="glyphicon glyphicon-plus" style="font-size:12px;"></span> Comment
            </div>
            <div class="col-lg-offset-1 col-lg-2">
                <div class="form-group">
                    {{ quote_form.author }}
                </div>
            </div>
        </div>
        <div class="row comment-row">
            <div class="col-lg-5">
                <div class="form-group autogrow">
                    {{ quote_form.comment }}
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-lg-offset-3 col-lg-2">
        <button type="button" id="quotem" class="btn btn-success">Quotem!</button>
    </div>
</div>

<script>
    $('.quote_form .add_comment').click(function() {
        if ( $(this).attr('class').indexOf('active') >= 0 ) {
            $(this).css('text-decoration','none');
            $(this).parents('.quote_form').find('.comment-row').hide();
            $(this).removeClass('active');
        } else {
            $(this).css('text-decoration','line-through');
            $(this).parents('.quote_form').find('.comment-row').show();
            $(this).addClass('active');
        }
    });

    $('.autogrow').each(function() {
        var $target = $(this).find('.autogrow-target');
        var fake = $('<div></div>');
        fake.addClass('autogrow-clone ' + $target.attr('class'));
        fake.attr('id','');
        fake.css({
            'position': 'absolute',
            'top': '0',
            'left': '0',
            'height': 'auto',
            'word-wrap': 'break-word',
            'width': '100%',
            'z-index': '-99',
        });
        $(this).append(fake);
        var $fake = $(this).find('.autogrow-clone');
    });
    $('.autogrow .autogrow-target').bind('input propertychange', function() {
        var $autogrow = $(this).parents('.autogrow');
        var $clone = $autogrow.find('.autogrow-clone');
        var target_text = $(this).val();
        target_text = $(this).val().replace(/\r?\n/g, '<br />');
        $clone.html(target_text);

        var clone_height = $clone.height();
        $(this).css('height', clone_height+50);
    });
</script>

<div style="height:20px;"></div>

<div class="row" id="your-quotes">
    {% for quote in quotes %}
        <div class="item col-lg-5" style="background-color:rgba(120,100,150,0.06);" quote_id="{{ quote.id }}">
            <form method="post" action="{% url edit_quote %}">{% csrf_token %}
                <div class="delete-button"><span class="glyphicon glyphicon-remove"></span></div>
                <div class="edit-button"><span class="glyphicon glyphicon-pencil"></span></div>
                <h3 class="quote-container">
                    "{{ quote.quote }}"
                </h3>

                <div style="height:10px;"></div>

                <div class="row">
                    <div class="col-lg-offset-8 col-lg-4">
                        <h4 class="author-container" style="text-align:right;">- {{ quote.author.name }}</h4>
                    </div>
                </div>

                {% if quote.comment %}
                    <h5>comments:</h5>
                    <p>{{ quote.comment.text }}</p>
                {% endif %}

                <div style="height:10px;"></div>

                <div class="row">
                    <div class="save-container col-lg-offset-4 col-lg-4" style="">
                    </div>
                    <div class="cancel-container col-lg-4" style="">
                    </div>
                </div>
            </form>
        </div><!-- /.item -->
    {% endfor %}
</div>

<script src="{{ STATIC_URL }}js/quote-form.js"></script>
<script>
    // Setting up CSRF handling for jQuery AJAX
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });



    $(function() {

        var container = document.querySelector('#your-quotes');
        var msnry = new Masonry( container, {
            columnWidth: 50,
            itemSelector: '.item'
        });

        $("#quotem").click(function() {
            $.ajax({
                type: 'POST',
                url: '{% url add_quote %}',
                data: $('form', $('.quote_form')).serialize(),
                success: function(data) {
                    // data = $.parseJSON(data);
                    // var quote = '"' + data['quote_text'] + '" -' + data['quote_author'] + '<br>' + data['quote_comment'];
                    // $('body').append('<p>' + quote + '</p>');
                    // console.log(data);
                    window.location.reload();
                },
                error: function(xhr, text_status, error_thrown) {
                    console.log(xhr.responseText.slice(0,500));
                    alert(xhr.responseText.slice(0,1900));
                    console.log(text_status);
                    console.log(error_thrown);
                },
            });
        });

    });
</script>

{% endblock %}
