.teal-color { color:                 #1abc9c; }
.teal-bg { background-color:         #1abc9c; }
.darkteal-color { color:             #16a085; }
.darkteal-bg { background-color:     #16a085; }

.green-color { color:                #2ecc71; }
.green-bg { background-color:        #2ecc71; }
.darkgreen-color { color:            #27ae60; }
.darkgreen-bg { background-color:    #27ae60; }

.blue-color { color:                 #3498db; }
.blue-bg { background-color:         #3498db; }
.darkblue-color { color:             #2980b9; }
.darkblue-bg { background-color:     #2980b9; }

.purple-color { color:               #9b59b6; }
.purple-bg { background-color:       #9b59b6; }
.darkpurple-color { color:           #8e44ad; }
.darkpurple-bg { background-color:   #8e44ad; }

.midnight-color { color:             #34495e; }
.midnight-bg { background-color:     #34495e; }
.darkmidnight-color { color:         #2c3e50; }
.darkmidnight-bg { background-color: #2c3e50; }

.yellow-color { color:               #f1c40f; }
.yellow-bg { background-color:       #f1c40f; }
.darkyellow-color { color:           #f39c12; }
.darkyellow-bg { background-color:   #f39c12; }

.orange-color { color:               #e67e22; }
.orange-bg { background-color:       #e67e22; }
.darkorange-color { color:           #d35400; }
.darkorange-bg { background-color:   #d35400; }

.red-color { color:                  #e74c3c; }
.red-bg { background-color:          #e74c3c; }
.darkred-color { color:              #c0392b; }
.darkred-bg { background-color:      #c0392b; }

.cloud-color { color:                #ecf0f1; }
.cloud-bg { background-color:        #ecf0f1; }
.darkcloud-color { color:            #bdc3c7; }
.darkcloud-bg { background-color:    #bdc3c7; }

.grey-color { color:                 #95a5a6; }
.grey-bg { background-color:         #95a5a6; }
.darkgrey-color { color:             #7f8c8d; }
.darkgrey-bg { background-color:     #7f8c8d; }








